.home-root {
    position: relative;
    height: fit-content;
    min-height: 100dvh;
    width: 80%;
}

.quote-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quote-section h1 {
    padding: 20px;
}

.quote-section h3 {
    padding-bottom: 30px;
}

.row {
    display: flex;
    padding: 1%;
}

.col {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    display: flex;
    text-align: center;
    height: 340px;
    width: 22rem;
    margin: 1%;
    border: 2px grey solid;
    transition: 0.4s ease;
}

.card:hover{
    border: 2px greenyellow solid;
}

.card-img-top {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.4s ease;
}

.card-img-top:hover{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.card-body {
    height: 0px;
    margin: 0px;
    padding: 0px;
    transform: translateY(-50px) scale(0);
    transition: 0.5s ease;
}

.card-title {
    padding: 2px 0px;
}

.card-text {
    padding: 2px 0px;
}

.card-icon {
    padding: 2px 0px;
    cursor: pointer;
}

.card:hover .card-body {
    height: fit-content;
    transform: translateY(0px) scale(1);
}

.add-img {
    position: fixed;
    right: 2%;
    bottom: 2%;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 5px;
    color: aliceblue;
}