#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(Static/wave.svg);
  z-index: -1;
}
